/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Krub:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600&family=PT+Sans:wght@400;700&display=swap');

/** variables **/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafo: 'Open Sans', sans-serif;

    --primary-color: #c94912;
    --white-color: #fff;
    --black-color: #000;
    --color-grey: #cac4c4;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;
    line-height: 2;
}

/** style globales **/
.container {
    max-width: 1200px;
    width: 90%;
    /*width: min(90%, 1200px);*/
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4.3rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/** utilidades **/
.centrar-texto {
    text-align: center;
}


/** Header **/

.header {
    background-image: linear-gradient(to right, rgba(50, 51, 50, 0.7), rgba(28, 29, 28, 0.7)),
        url(/images/bg-image.png);
    height: 78vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.header__texto {
    text-align: center;
    color: var(--white-color);

}

.header__texto p {
    color: #e4d7d7;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.navbar {
    display: flex;
    align-items: center;

    justify-content: space-between;

}

.logo {
    color: var(--primary-color);
}

.logo span {
    font-weight: 700;
    background-color: #000;
    color: var(--white-color);
    border-radius: 1rem;
    padding: 5px;

}

.navbar__link {
    color: var(--white-color);
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;

}


.margin-cero {
    margin: 0;
}

/**  Contenido principal  **/
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entrance {

    margin: 1px solid #ccc;
    padding-bottom: 2rem;
}

article:last-of-type {
    border: none;
    margin-bottom: 0;
}

.button {
    display: inline-block;
    color: var(--white-color);
    font-family: var(--fuenteHeading);
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    border: none;
}

.button:hover{
    cursor: pointer;
}
.btn-primary {
    background-color: var(--black-color);
}


.course {
    margin-bottom: 2rem;
    padding: 5px;
}

.course span {
    font-weight: bold;
}

.btn-secundary {
    background-color: #520404;
    font-size: 1.5rem;
}

.widget-curso p span {
    font-weight: bold;
}


.footer {
    background-color: #000;
    padding: 3rem 0;
    margin-top: 4rem;
}


/** about-us **/
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-us__image,
.about-us__text {
    flex-basis: calc(50% - 1rem);

}

/** course **/
.course {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;

    box-shadow: 1px 10px 15px rgba(0, 0, 0, .50);
}

.image__course {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}

.image__course img {
    transition: all 500ms ease;
}

.image__course img:hover {
    transform: scale(1.2);
}

/*.course:last-child{
    border: none;
}*/

.course:last-of-type {
    border: none
}


/**contacto **/
.contacto-bg {
    background-image: url(https://images.pexels.com/photos/4787610/pexels-photo-4787610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center center;

}



.form {
    background-color: var(--color-grey);
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    padding-right: 2rem;
    border: none;
   
   
}

.campo__field {
    flex: 1;
    border: 1px solid var(--color-grey);
    padding: 2px;
    outline: none;
}

.campo__field--textarea {
    height: 15rem;
}



/** consejo **/
.consejo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.consejo span{
    font-weight: bold;
    border-bottom: 1px solid var(--color-grey);
}

@media (max-width:768px) {
    .navbar {
        flex-direction: column;
        margin: 0;
    }

    .navbar__link {
        flex-direction: column;
    }

    .header__texto h2 {
        font-size: 2.9rem;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4rem;

    }

    .course {
        text-align: center;

    }

    .widget-curso {
        margin-bottom: 2rem;
    }

    .about-us {
        flex-direction: column;

    }

    .consejo{
        grid-template-columns: 1fr;
    }
}